// _override.scss
// 
// Overriding Ant Design's default variables, such as colors, shadows and... .
// 

html {
	--antd-wave-shadow-color: $color-primary ;
}
[click-animating-without-extra-node='true']::after,
.click-animating-node {
  box-shadow: 0 0 0 0 $color-primary ;
  box-shadow: 0 0 0 0 var(--antd-wave-shadow-color) ;
}
a {
	color: $color-primary ;
}
::-moz-selection {
	background: $color-primary ;
}
::selection {
	background: $color-primary ;
}
.click-animating-node {
	box-shadow: 0 0 0 0 $color-primary ;
}
@-webkit-keyframes waveEffect
{
	100% {
		box-shadow: 0 0 0 $color-primary ;
    	box-shadow: 0 0 0 6px var(--antd-wave-shadow-color) ;
	}
}
@keyframes waveEffect
{
	100% {
		box-shadow: 0 0 0 $color-primary ;
    	box-shadow: 0 0 0 6px var(--antd-wave-shadow-color) ;
	}
}
.alert-success .alert-icon {
	color: $color-success ;
}
.alert-warning {
	border: 1px solid $color-warning ;
}
.alert-warning.alert-banner {
    border: 0;
    border-radius: 0;
}
.alert-warning .alert-icon {
	color: $color-warning ;
}
.anchor-ink-ball {
	border: 2px solid $color-primary ;
}
.anchor-link-active > .anchor-link-title {
	color: $color-primary ;
}
.select-auto-complete.select .select-selection__rendered {
	line-height: $input-height-base ;
}
.select-auto-complete.select .input {
	height: $input-height-base ;
}
.select-auto-complete.select .input:hover {
	border-color: $select-hover-border-color
}
.select-auto-complete.select .input[disabled]:hover {
	border-color: $select-hover-border-color
}
.select-auto-complete.select-lg .select-selection__rendered {
	line-height: $input-height-lg ;
}
.select-auto-complete.select-lg .input {
	height: $input-height-lg ;
}
.select-auto-complete.select-sm .select-selection__rendered {
	line-height: $input-height-sm ;
}
.select-auto-complete.select-sm .input {
	height: $input-height-sm ;
}
.badge-status-primary {
	background-color: $color-primary ;
}
.badge-status-secondary {
	background-color: $color-secondary ;
}
.badge-status-success {
	background-color: $color-success ;
}
.badge-status-warning {
	background-color: $color-warning ;
}
.btn {
	box-shadow: $btn-shadow ;
	border-radius: $btn-border-radius-base ;
}
.btn,
.btn-group .btn,
.radio-group .radio-button-wrapper {
	font-weight: $fw-semibold ;
	font-size: $btn-font-size-base ;
	height: $btn-height-base ;
	padding: $btn-padding-base ;
}
.btn-icon-only {
	font-size: $btn-font-size-base ;
}
.btn-lg {
	border-radius: $btn-border-radius-base ;
}
.btn-lg,
.btn-group-lg .btn,
.radio-group-large .radio-button-wrapper {
	height: $btn-height-lg ;
	padding: $btn-padding-base ;
	font-size: $btn-font-size-lg ;
}
.btn-icon-only.btn-lg {
	font-size: $btn-font-size-lg ;
}
.btn-sm {
    border-radius: 4px;
}
.btn-sm,
.btn-group-sm .btn,
.radio-group-small .radio-button-wrapper {
	height: $btn-height-sm ;
	font-size: $btn-font-size-sm ;
	padding: $btn-padding-base ;
}
.btn-icon-only.btn-sm {
	font-size: $btn-font-size-sm ;
}
.btn-group-sm > .btn > .anticon, .btn-group-sm > span > .btn > .anticon {
	font-size: $btn-font-size-sm ;
}
.btn-primary {
	background-color: $color-primary ;
	border-color: $color-primary ;
}
.btn-primary svg path {
	fill: $color-white ;
}
.btn-link {
	color: $color-primary ;
	box-shadow: none;
}
.btn-icon-only {
	width: $btn-height-base ;
	height: $btn-height-base ;
	border-radius: $btn-border-radius-base ;
}
.btn-icon-only.btn-lg {
	width: $btn-height-lg ;
	height: $btn-height-lg ;
	border-radius: $btn-border-radius-base ;
}
.btn-icon-only.btn-sm:not(.btn-round) {
	width: $btn-height-sm ;
	height: $btn-height-sm ;
	border-radius: $btn-border-radius-base ;
}
.btn-icon-only.btn-lg.btn-round,
.btn-icon-only.btn-sm.btn-round {
	width: auto ;
}
.btn-round {
	height: $btn-height-base ;
	padding: 0 20px ;
	border-radius: $btn-height-base ;
}
.btn-round.btn-lg {
	height: $btn-height-lg ;
	padding: 0 24px ;
	border-radius: $btn-height-lg ;
	font-size: $btn-font-size-lg ;
}
.btn-round.btn-sm {
	height: $btn-height-sm ;
	padding: 0 16px ;
	border-radius: $btn-height-sm ;
	font-size: $btn-font-size-sm ;
}
.btn-circle-outline {
	min-width: $btn-height-base ;
}
.btn-circle-outline.btn-lg {
	min-width: $btn-height-lg ;
}
.btn-circle-outline.btn-sm {
	min-width: $btn-height-sm ;
}
.btn-circle, .btn-circle-outline {
    min-width: $btn-height-base ;
    padding-right: 0;
    padding-left: 0;
    border-radius: 50% !important;
}
.btn-circle.btn-sm, .btn-circle-outline.btn-sm {
    min-width: 24px;
    height: 24px;
    line-height: 0;
}
.btn-group-lg > span > .btn {
	height: $btn-height-lg ;
	padding: $btn-padding-base ;
	line-height: 46px ;
}
.btn-group-lg > .btn.btn-icon-only {
	width: $btn-height-lg ;
	height: $btn-height-lg ;
}
.btn-group-sm > span > .btn {
	height: $btn-height-sm ;
	line-height: 30px ;
}
.btn-group-sm > .btn.btn-icon-only {
	width: $btn-height-sm ;
	height: $btn-height-sm ;
}
.btn-group > .btn:only-child {
	border-radius: $btn-border-radius-base ;
}
.btn-group > span:only-child > .btn {
	border-radius: $btn-border-radius-base ;
}
.btn-group > span:first-child:not(:last-child) > .btn {
	border-top-left-radius: $btn-border-radius-base ;
	border-bottom-left-radius: $btn-border-radius-base ;
}
.btn-group > span:last-child:not(:first-child) > .btn {
	border-top-right-radius: $btn-border-radius-base ;
	border-bottom-right-radius: $btn-border-radius-base ;
}
.btn-background-ghost.btn-primary {
	color: $color-primary ;
	border-color: $color-primary ;
}
.btn-background-ghost.btn-link {
	color: $color-primary ;
}
a.btn {
	line-height: 38px ;
}
a.btn-lg {
	line-height: 46px ;
}
a.btn-sm {
	line-height: 30px ;
}
.fullcalendar-value:active {
	background: $color-primary ;
}
.fullcalendar-month-panel-current-cell .fullcalendar-value {
	box-shadow: 0 0 0 1px $color-primary inset ;
}
.fullcalendar-month-panel-selected-cell .fullcalendar-value {
	background: $color-primary ;
}
.fullcalendar-fullscreen .fullcalendar-header label.radio-button {
	height: $btn-height-base ;
	line-height: 38px ;
}
.fullcalendar-fullscreen .fullcalendar-today .fullcalendar-date {
	border-top-color: $color-primary ;
}
.fullcalendar-fullscreen .fullcalendar-selected-day .fullcalendar-value {
	color: $color-primary ;
}
.card-actions > li > span:hover {
	color: $color-primary ;
}
.card-actions > li > span > .anticon:hover {
	color: $color-primary ;
}
.cascader-picker-label:hover + .cascader-input {
	border-color: $input-hover-border-color ;
}
.checkbox-input:focus + .checkbox-inner {
	border-color: $input-hover-border-color ;
}
.checkbox-checked::after {
	border: 1px solid $color-primary ;
}
.checkbox-checked .checkbox-inner {
	background-color: $color-primary ;
	border-color: $color-primary ;
}
.checkbox-indeterminate .checkbox-inner::after {
	background-color: $color-primary ;
}
.calendar-picker:hover .calendar-picker-input:not(.input-disabled) {
	border-color: $input-hover-border-color ;
}
.calendar-input {
	color: $input-color ;
}
.calendar-today .calendar-date {
	color: $color-primary ;
	border-color: $color-primary ;
}
.calendar .calendar-ok-btn {
	font-weight: $fw-semibold ;
	box-shadow: $btn-shadow ;
	height: $btn-height-base ;
	padding: $btn-padding-base ;
	border-radius: $btn-border-radius-base ;
	background-color: $color-primary ;
	border-color: $color-primary ;
	line-height: 30px ;
}
.calendar .calendar-ok-btn-lg {
	height: $btn-height-lg ;
	padding: $btn-padding-base ;
	border-radius: $btn-border-radius-base ;
}
.calendar .calendar-ok-btn-sm {
	height: $btn-height-sm ;
}
.calendar-range .calendar-today :not(.calendar-disabled-cell) :not(.calendar-last-month-cell) :not(.calendar-next-month-btn-day) .calendar-date {
	color: $color-primary ;
	border-color: $color-primary ;
}
.calendar-range .calendar-selected-end-date .calendar-date {
	background: $color-primary ;
}
.calendar-range .calendar-selected-end-date .calendar-date:hover {
	background: $color-primary ;
}
.calendar-range .calendar-time-picker-input {
	height: $input-height-base ;
	color: $input-color ;
	border: 1px solid $input-border-color ;
	line-height: $input-height-sm ;
}
.calendar-range .calendar-time-picker-input:hover {
	border-color: $input-hover-border-color ;
}
.calendar-range .calendar-time-picker-input-disabled:hover {
	border-color: $input-border-color ;
}
.calendar-range .calendar-time-picker-input[disabled]:hover {
	border-color: $input-border-color ;
}
textarea.calendar-range .calendar-time-picker-input {
	min-height: $input-height-base ;
}
.calendar-range .calendar-time-picker-input-lg {
	height: $input-height-lg ;
}
.calendar-range .calendar-time-picker-input-sm {
	height: $input-height-sm ;
}
.calendar-time-picker-select li:focus {
	color: $color-primary ;
}
.calendar-month-panel-selected-cell .calendar-month-panel-month {
	background: $color-primary ;
}
.calendar-month-panel-selected-cell .calendar-month-panel-month:hover {
	background: $color-primary ;
}
.calendar-year-panel-selected-cell .calendar-year-panel-year {
	background: $color-primary ;
}
.calendar-year-panel-selected-cell .calendar-year-panel-year:hover {
	background: $color-primary ;
}
.calendar-decade-panel-selected-cell .calendar-decade-panel-decade {
	background: $color-primary ;
}
.calendar-decade-panel-selected-cell .calendar-decade-panel-decade:hover {
	background: $color-primary ;
}
.dropdown-menu-submenu-title-selected > a {
	color: $color-primary ;
}
.dropdown-menu-submenu-selected .dropdown-menu-submenu-title {
	color: $color-primary ;
}
.dropdown-menu-dark .dropdown-menu-item-selected > a {
	background: $color-primary ;
}
.form output {
	color: $input-color ;
}
.form-item-control {
	line-height: $input-height-lg ;
}
.form-item-label {
	line-height: 47.9999px ;
}
form .has-feedback :not(.input-group-addon) > .select .select-selection__clear {
	right: 32px ;
}
form .has-feedback .cascader-picker-arrow {
	margin-right: 21px ;
}
form .has-feedback .cascader-picker-clear {
	right: 32px ;
}
form .has-feedback .input-search:not(.input-search-enter-button) .input-suffix {
	right: 32px ;
}
form .has-feedback .time-picker-clear {
	right: 32px ;
}
.is-validating.has-feedback .form-item-children-icon {
	width: $input-height-base ;
	color: $color-primary ;
}
.has-success.has-feedback .form-item-children-icon {
	color: $color-success ;
}
.has-warning .form-split {
	color: $color-warning ;
}
.has-warning .input:hover {
	border-color: $color-warning ;
}
.has-warning .input:focus {
	border-color: #ffec3d ;
	box-shadow: 0 0 0 2px rgba(250, 219, 20, 0.2) ;
}
.has-warning .input:not([disabled]):hover {
	border-color: $color-warning ;
}
.has-warning .calendar-picker-open .calendar-picker-input {
	border-color: #ffec3d ;
	box-shadow: 0 0 0 2px rgba(250, 219, 20, 0.2) ;
}
.has-warning .input-affix-wrapper .input:hover {
	border-color: $color-warning ;
}
.has-warning .input-affix-wrapper .input:focus {
	border-color: #ffec3d ;
	box-shadow: 0 0 0 2px rgba(250, 219, 20, 0.2) ;
}
.has-warning .input-affix-wrapper:hover .input:not(.input-disabled) {
	border-color: $color-warning ;
}
.has-warning .input-prefix {
	color: $color-warning ;
}
.has-warning .input-group-addon {
	color: $color-warning ;
	border-color: $color-warning ;
}
.has-warning .has-feedback {
	color: $color-warning ;
}
.has-warning.has-feedback .form-item-children-icon {
	color: $color-warning ;
}
.has-warning .select-selection {
	border-color: $color-warning ;
}
.has-warning .select-selection:hover {
	border-color: $color-warning ;
}
.has-warning .select-focused .select-selection {
	border-color: #ffec3d ;
	box-shadow: 0 0 0 2px rgba(250, 219, 20, 0.2) ;
}
.has-warning .cascader-picker-arrow {
	color: $color-warning ;
}
.has-warning .time-picker-input {
	border-color: $color-warning ;
}
.has-warning .time-picker-input:focus {
	border-color: #ffec3d ;
	box-shadow: 0 0 0 2px rgba(250, 219, 20, 0.2) ;
}
.has-warning .time-picker-input:not([disabled]):hover {
	border-color: $color-warning ;
}
.has-warning .cascader-picker:focus .cascader-input {
	border-color: #ffec3d ;
	box-shadow: 0 0 0 2px rgba(250, 219, 20, 0.2) ;
}
.has-warning .cascader-picker:hover .cascader-input {
	border-color: $color-warning ;
}
.has-error .transfer-list-search:not([disabled]) {
	border-color: $input-border-color ;
}
.has-error .transfer-list-search:not([disabled]):hover {
	border-color: $input-hover-border-color ;
}
.input {
	height: $input-height-base ;
	color: $input-color ;
	border: 1px solid $input-border-color ;
}
.input:hover {
	border-color: $input-hover-border-color ;
}
.input-disabled:hover {
	border-color: $input-border-color ;
}
.input[disabled]:hover {
	border-color: $input-border-color ;
}
textarea.input {
	min-height: $input-height-base ;
}
.input-lg {
	height: $input-height-lg ;
}
.input-sm {
	height: $input-height-sm ;
}
.input-group-addon {
	color: $input-color ;
	border: 1px solid $input-border-color ;
}
.input-group-addon .select-focused .select-selection {
	color: $color-primary ;
}
.input-group-lg > .input-group-addon {
	height: $input-height-lg ;
}
.input-group-sm > .input-group-addon {
	height: $input-height-sm ;
}
.input-group-lg .select-selection--single {
	height: $input-height-lg ;
}
.input-group-sm .select-selection--single {
	height: $input-height-sm ;
}
.input-affix-wrapper:hover .input:not(.input-disabled) {
	border-color: $input-hover-border-color ;
}
.input-affix-wrapper .input-suffix {
	color: $input-color ;
}
.input-number {
	height: $input-height-base ;
	color: $input-color ;
	border: 1px solid $input-border-color ;
}
.input-number:hover {
	border-color: $input-hover-border-color ;
}
.input-number-disabled:hover {
	border-color: $input-border-color ;
}
.input-number[disabled]:hover {
	border-color: $input-border-color ;
}
textarea.input-number {
	min-height: $input-height-base ;
}
.input-number-lg {
	height: $input-height-lg ;
}
.input-number-sm {
	height: $input-height-sm ;
}
.input-number-input {
	height: 38px ;
}
.input-number-lg input {
	height: 46px ;
}
.input-number-sm input {
	height: 30px ;
}
.list-item-meta-title > a:hover {
	color: $color-primary ;
}
.mentions {
	height: $input-height-base ;
	color: $input-color ;
	border: 1px solid $input-border-color ;
}
.mentions:hover {
	border-color: $input-hover-border-color ;
}
.mentions-disabled:hover {
	border-color: $input-border-color ;
}
.mentions[disabled]:hover {
	border-color: $input-border-color ;
}
textarea.mentions {
	min-height: $input-height-base ;
}
.mentions-lg {
	height: $input-height-lg ;
}
.mentions-sm {
	height: $input-height-sm ;
}
.mentions-disabled > textarea:hover {
	border-color: $input-border-color ;
}
.mentions-measure {
	min-height: 38px ;
}
.mentions > textarea {
	min-height: 100%;
    font-size: 14px;
    line-height: 2;
}
.menu-submenu-selected {
	color: $color-primary ;
}
.menu-item > a:hover {
	color: $color-primary ;
}
.menu-item > .badge > a:hover {
	color: $color-primary ;
}
.menu-submenu-title:hover {
	color: $color-primary ;
}
.menu-item-selected {
	color: $color-primary ;
}
.menu-item-selected > a:hover {
	color: $color-primary ;
}
.menu-submenu-inline > .menu-submenu-title:hover .menu-submenu-arrow::before {
	background: linear-gradient(to right, $color-primary, $color-primary) ;
}
.menu-vertical-right .menu-submenu-selected {
	color: $color-primary ;
}
.menu-vertical-right .menu-submenu-selected > a {
	color: $color-primary ;
}
.menu-horizontal > .menu-submenu-selected {
	color: $color-primary ;
	border-bottom: 2px solid $color-primary ;
}
.menu-horizontal > .menu-item > a:hover {
	color: $color-primary ;
}
.menu-horizontal > .menu-item-selected > a {
	color: $color-primary ;
}
.menu-inline .menu-item::after {
	border-right: 3px solid $color-primary ;
}
.menu-submenu-popup.menu-dark .menu-item-selected {
	background-color: $color-primary ;
}
.message-success .anticon {
	color: $color-success ;
}
.message-warning .anticon {
	color: $color-warning ;
}
.modal-confirm-confirm .modal-confirm-body > .anticon {
	color: $color-warning ;
}
.modal-confirm-success .modal-confirm-body > .anticon {
	color: $color-success ;
}
.anticon.notification-notice-icon-success {
	color: $color-success ;
}
.anticon.notification-notice-icon-warning {
	color: $color-warning ;
}
.page-header-back-button {
	color: $color-primary ;
}
.pagination-item:hover {
	border-color: $color-primary ;
}
.pagination-item:hover a {
	color: $color-primary ;
}
.pagination-item-active {
	border-color: $color-primary ;
}
.pagination-item-active a {
	color: $color-primary ;
}
.pagination-jump-next .pagination-item-container .pagination-item-link-icon {
	color: $color-primary ;
}
.pagination-next:hover .pagination-item-link {
	color: $color-primary ;
	border-color: $color-primary ;
}
.pagination-options-quick-jumper {
	height: $input-height-base ;
	line-height: $input-height-base ;
}
.pagination-options-quick-jumper input {
	height: $input-height-base ;
	color: $input-color ;
	border: 1px solid $input-border-color ;
}
.pagination-options-quick-jumper input:hover {
	border-color: $input-hover-border-color ;
}
.pagination-options-quick-jumper input-disabled:hover {
	border-color: $input-border-color ;
}
.pagination-options-quick-jumper input[disabled]:hover {
	border-color: $input-border-color ;
}
textarea.pagination-options-quick-jumper input {
	min-height: $input-height-base ;
}
.pagination-options-quick-jumper input-lg {
	height: $input-height-lg ;
}
.pagination-options-quick-jumper input-sm {
	height: $input-height-sm ;
}
.pagination-simple .pagination-simple-pager input:hover {
	border-color: $input-hover-border-color ;
}
.pagination.mini .pagination-options-quick-jumper input {
	height: $input-height-sm ;
}
.popover-message > .anticon {
	color: $color-warning ;
}
.progress-success-bg {
	background-color: $color-success ;
}
.progress-status-success .progress-bg {
	background-color: $color-success ;
}
.progress-status-success .progress-text {
	color: $color-success ;
}
.progress-status-success .progress-inner:not(.progress-circle-gradient) .progress-circle-path {
	stroke: $color-success ;
}
.progress-circle.progress-status-success .progress-text {
	color: $color-success ;
}
.radio-input:focus + .radio-inner {
	border-color: $color-primary ;
}
.radio-checked::after {
	border: 1px solid $color-primary ;
}
.radio-inner::after {
	background-color: $color-primary ;
}
.radio-checked .radio-inner {
	border-color: $color-primary ;
}
.radio-button-wrapper {
	height: $btn-height-base ;
	line-height: 38px ;
}
.radio-group-large .radio-button-wrapper {
	height: $btn-height-lg ;
	line-height: 46px ;
}
.radio-group-small .radio-button-wrapper {
	height: $btn-height-sm ;
	line-height: 34px ;
}
.radio-button-wrapper:hover {
	color: $color-primary ;
}
.radio-button-wrapper-checked:not(.radio-button-wrapper-disabled) {
	color: $color-primary ;
	border-color: $color-primary ;
}
.radio-button-wrapper-checked:not(.radio-button-wrapper-disabled)::before {
	background-color: $color-primary ;
}
.radio-button-wrapper-checked:not(.radio-button-wrapper-disabled):first-child {
	border-color: $color-primary ;
}
.radio-group-solid .radio-button-wrapper-checked:not(.radio-button-wrapper-disabled) {
	background: $color-primary ;
	border-color: $color-primary ;
}
.result-success .result-icon > .anticon {
	color: $color-success ;
}
.result-warning .result-icon > .anticon {
	color: $color-warning ;
}
.select-selection {
	border: 1px solid $select-border-color ;
}
.select-selection:hover {
	border-color: $select-hover-border-color
}
.select-disabled .select-selection:active {
	border-color: $select-border-color ;
}
.select-selection--single {
	height: $input-height-base ;
}
.select-selection__rendered {
	line-height: 38px ;
}
.select-lg .select-selection--single {
	height: $input-height-lg ;
}
.select-lg .select-selection__rendered {
	line-height: 46px ;
}
.select-lg .select-selection--multiple {
	min-height: $input-height-lg ;
}
.select-lg .select-selection--multiple .select-selection__rendered li {
	height: $input-height-base ;
	line-height: $input-height-base ;
}
.select-lg .select-selection--multiple .select-arrow {
	top: 24px ;
}
.select-sm .select-selection--single {
	height: $input-height-sm ;
}
.select-sm .select-selection__rendered {
	line-height: 30px ;
}
.select-sm .select-selection--multiple {
	min-height: $input-height-sm ;
}
.select-sm .select-selection--multiple .select-selection__rendered li {
	height: 24px ;
	line-height: 22px ;
}
.select-sm .select-selection--multiple .select-arrow {
	top: 16px ;
}
.select-selection--multiple {
	min-height: $input-height-base ;
}
.select-selection--multiple .select-selection__rendered > ul > li {
	height: $input-height-sm ;
	line-height: 30px ;
}
.select-selection--multiple .select-arrow {
	top: 20px ;
}
.select-dropdown.select-dropdown--multiple .select-dropdown-menu-item-selected:hover .select-selected-icon {
	color: $color-primary ;
}
.slider-handle.tooltip-open {
	border-color: $color-primary ;
}
.spin {
	color: $color-primary ;
}
.spin-dot-item {
	background-color: $color-primary ;
}
.steps-item-icon > .steps-icon {
	color: $color-primary ;
}
.steps-item-process .steps-item-icon {
	// border-color: $color-primary ;
	// background: $color-primary ;
}
.steps-item-process .steps-item-icon > .steps-icon {
	color: $color-primary ;
}
.steps-item-process .steps-item-icon > .steps-icon .steps-icon-dot {
	background: $color-primary ;
}
.steps-item-finish .steps-item-icon {
	border-color: $color-primary ;
}
.steps-item-finish .steps-item-icon > .steps-icon {
	color: $color-primary ;
}
.steps-item-finish .steps-item-icon > .steps-icon .steps-icon-dot {
	background: $color-primary ;
}
.steps-item-finish > .steps-item-container > .steps-item-content > .steps-item-title::after {
	background-color: $color-primary ;
}
.steps-item-finish > .steps-item-container > .steps-item-tail::after {
	background-color: $color-primary ;
}
.steps .steps-item:not(.steps-item-active) > .steps-item-container[role='button']:hover .steps-item-description {
	color: $color-primary ;
}
.steps .steps-item:not(.steps-item-active):not(.steps-item-process) > .steps-item-container[role='button']:hover .steps-item-icon {
	border-color: $color-primary ;
}
.steps .steps-item:not(.steps-item-active):not(.steps-item-process) > .steps-item-container[role='button']:hover .steps-item-icon .steps-icon {
	color: $color-primary ;
}
.steps-item-custom.steps-item-process .steps-item-icon > .steps-icon {
	color: $color-primary ;
}
.steps-navigation .steps-item::before {
	background-color: $color-primary ;
}
.switch-checked.switch-loading .switch-loading-icon {
	color: $color-primary ;
}
.switch-checked {
	background-color: $color-primary ;
}
.table-thead > tr > th .table-filter-selected.anticon {
	color: $color-primary ;
}
.table-thead > tr > th .table-column-sorter .table-column-sorter-inner .table-column-sorter-down.on {
	color: $color-primary ;
}
.table-filter-dropdown .dropdown-menu .dropdown-submenu-contain-selected .dropdown-menu-submenu-title::after {
	color: $color-primary ;
}
.table-filter-dropdown-link {
	color: $color-primary ;
}
.table-row-expand-icon {
	color: $color-primary ;
}
.tabs.tabs-card .tabs-card-bar .tabs-tab-active {
	color: $color-primary ;
}
.tabs.tabs-card .tabs-card-bar .tabs-tab-disabled {
	color: $color-primary ;
}
.tabs-extra-content .tabs-new-tab:hover {
	color: $color-primary ;
	border-color: $color-primary ;
}
.tabs .tabs-card-bar.tabs-bottom-bar .tabs-tab-active {
	color: $color-primary ;
}
.tabs-ink-bar {
	background-color: $color-primary ;
}
.tabs-nav .tabs-tab-active {
	color: $color-primary ;
}
.tag-checkable:not(.tag-checkable-checked):hover {
	color: $color-primary ;
}
.tag-checkable-checked {
	background-color: $color-primary ;
}
.time-picker-panel-select li:focus {
	color: $color-primary ;
}
.time-picker-input {
	height: $input-height-base ;
	color: $input-color ;
	border: 1px solid $input-border-color ;
}
.time-picker-input:hover {
	border-color: $input-hover-border-color ;
}
.time-picker-input-disabled:hover {
	border-color: $input-border-color ;
}
.time-picker-input[disabled]:hover {
	border-color: $input-border-color ;
}
textarea.time-picker-input {
	min-height: $input-height-base ;
}
.time-picker-input-lg {
	height: $input-height-lg ;
}
.time-picker-input-sm {
	height: $input-height-sm ;
}
.time-picker-large .time-picker-input {
	height: $input-height-lg ;
}
.time-picker-small .time-picker-input {
	height: $input-height-sm ;
}
.timeline-item-head-blue {
	color: $color-primary ;
	border-color: $color-primary ;
}
.timeline-item-head-green {
	color: $color-success ;
	border-color: $color-success ;
}
.transfer-list-search-action {
	line-height: $input-height-base ;
}
.transfer-list-body-with-search {
	padding-top: 64px ;
}
.transfer-list-body-with-search .transfer-list-body-not-found {
	margin-top: 20px ;
}
.tree.tree-directory .tree-child-tree > li.tree-treenode-selected > span.tree-checkbox .tree-checkbox-inner {
	border-color: $color-primary ;
}
.tree.tree-directory .tree-child-tree > li.tree-treenode-selected > span.tree-checkbox.tree-checkbox-checked .tree-checkbox-inner::after {
	border-color: $color-primary ;
}
.tree.tree-directory .tree-child-tree > li.tree-treenode-selected > span.tree-node-content-wrapper::before {
	background: $color-primary ;
}
.tree-checkbox-input:focus + .tree-checkbox-inner {
	border-color: $color-primary ;
}
.tree-checkbox-checked::after {
	border: 1px solid $color-primary ;
}
.tree-checkbox-checked .tree-checkbox-inner {
	background-color: $color-primary ;
	border-color: $color-primary ;
}
.tree-checkbox-indeterminate .tree-checkbox-inner::after {
	background-color: $color-primary ;
}
.tree li.drag-over > span[draggable] {
	background-color: $color-primary ;
}
.tree li.drag-over-gap-top > span[draggable] {
	border-top-color: $color-primary ;
}
.tree li.drag-over-gap-bottom > span[draggable] {
	border-bottom-color: $color-primary ;
}
.tree li.tree-treenode-loading span.tree-switcher.tree-switcher_close .tree-switcher-loading-icon {
	color: $color-primary ;
}
.select-tree-checkbox-input:focus + .select-tree-checkbox-inner {
	border-color: $color-primary ;
}
.select-tree-checkbox-checked::after {
	border: 1px solid $color-primary ;
}
.select-tree-checkbox-checked .select-tree-checkbox-inner {
	background-color: $color-primary ;
	border-color: $color-primary ;
}
.select-tree-checkbox-indeterminate .select-tree-checkbox-inner::after {
	background-color: $color-primary ;
}
.select-tree li span.select-icon_loading .select-switcher-loading-icon {
	color: $color-primary ;
}
.select-tree li span.select-tree-switcher.select-tree-switcher_close .select-switcher-loading-icon {
	color: $color-primary ;
}
.upload.upload-select-picture-card:hover {
	border-color: $color-primary ;
}
.upload-list .upload-success-icon {
	color: $color-success ;
}

.btn-primary {
	background-color: $color-primary;
	&:hover {
		background-color: #40A9FF;
	}
	&:active,
	&.active,
	&:focus {
		background-color: #096DD9;
	}
}
.btn-secondary {
	background-color: $color-white;
	border-color: #D9D9D9;
	color: $color-gray-12;
	&:hover {
		border-color: #40A9FF;
		color: $color-primary;
	}
	&:active,
	&.active,
	&:focus {
		border-color: #096DD9;
		color: #096DD9;
	}
}
.btn-dark {
	background-color: $color-dark;
	color: $color-white;
	&:hover,
	&:active,
	&:focus,
	&.active  {
		background-color: $color-dark;
		color: $color-white;
	}
	&.btn-background-ghost:not(:disabled) {
		color: $color-dark;
		border-color: $color-dark;
	}
}
.input {
	font-weight: $fw-semibold;
	color: $color-gray-7;
	&:focus {
		border-color: $color-primary;
		color: $color-gray-12;
		box-shadow: none;
	}
}
.select {
	font-weight: $fw-semibold;
	color: $color-gray-7;
	&.select-focused {
		border-color: $color-primary;
		color: $color-gray-12;
		box-shadow: none;
	}
}
.select-dropdown-menu-item {
	font-weight: $fw-semibold;
}

.descriptions {
	.descriptions-title {
		font-size: 14px;
		font-weight: $fw-semibold;
		color: $color-gray-12;
		margin-bottom: 14px;
	}
	.descriptions-item-label {
		font-size: 13px;
		font-weight: $fw-semibold;
		color: $color-muted;
	}
	.descriptions-item-content {
		font-size: 13px;
		font-weight: $fw-semibold;
		color: $color-gray-12;
	}
	.descriptions-row > th, .descriptions-row > td {
		padding-bottom: 6px;
	}
}

.menu:not(.menu-horizontal) .menu-item-selected {
	background-color: transparent;
}

// / Overriding Ant Design's default variables, such as colors, shadows and... .
