// _button.scss
// 
// Template's button styles.
// 

.btn svg {
	margin-right: 5px;
}
.mr-0.anticon svg,
.m-0.anticon svg {
	margin-right: 0;
}

.btn.btn-icon-only svg {
	margin-right: 0;
}

.btn > .anticon + span {
    margin-left: 0;
}

.btn > span + .anticon {
    margin-left: 5px;
}

.btn > svg {
    vertical-align: middle;
}

.btn > svg + span {
    vertical-align: middle;
}

.btn-icon-only.btn-lg:not(.btn-round),
.btn-icon-only.btn:not(.btn-round),
.btn-icon-only.btn-sm:not(.btn-round) {
	padding: 0;
}

.btn-circle, .btn-circle-outline {
    border-radius: 50%;
}

.btn.fab {
	width: 50px;
	height: 50px;
	background-color: $color-white;
	position: fixed;
    bottom: 30px;
    right: 30px;
	box-shadow: $shadow-3;

	svg {
		margin: 0;
	}
}

.btn.fab {
	width: 50px;
	height: 50px;
	background-color: $color-white;
	position: fixed;
    bottom: 30px;
    right: 30px;
	box-shadow: $shadow-3;

	svg {
		margin: 0;
	}
}

@each $name, $value in $colors {
	.btn.bg-#{$name} {
		background-color: $value;
		color: #ffffff;

		&:hover {
			background-color: lighten($value, 5);
			border-color: darken($value, 10);
			color: #ffffff;
		}
	}
}

.btn.bg-warning {
	color: #333333;

	&:hover {
		color: #333333;
	}
}

.layout-dashboard-rtl {
	.btn-group .btn {
		border-radius: 0;
	}
	.btn-group > .btn:first-child:not(:last-child), .btn-group > span:first-child:not(:last-child) > .btn {
		border-radius: 0;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.btn-group > .btn:last-child:not(:first-child), .btn-group > span:last-child:not(:first-child) > .btn {
		border-radius: 0;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	.btn-group .btn + .btn, .btn + .btn-group, .btn-group span + .btn, .btn-group .btn + span, .btn-group > span + span, .btn-group + .btn, .btn-group + .btn-group {
		margin-right: -1px;
		margin-left: 0;
	}

	.radio-button-wrapper {
		border-left: 1px solid $color-gray-5;
		border-right-width: 0;
	}
	.radio-button-wrapper:first-child {
		border-right-width: 1px;
		border-radius: 0 4px 4px 0;
	}
	.radio-button-wrapper:last-child {
		border-radius: 4px 0 0 4px;
		border-left: 1px solid $color-gray-5;
	}
	.radio-group-solid .radio-button-wrapper-checked:not(.radio-button-wrapper-disabled) {
		color: $color-gray-1;
		border-color: $color-primary;
	}
	.radio-group-outline .radio-button-wrapper-checked:not(.radio-button-wrapper-disabled) {
		color: $color-primary;
		border-color: $color-primary;
	}
	.radio-button-wrapper:not(:first-child)::before {
		left: auto;
		right: -1px;
	}
	.btn svg {
		margin-left: 5px;
		margin-right: 0;
	}

	.btn.fab {
		left: 30px;
		right: auto;

		svg {
			margin: 0;
		}
	}
}

// / Template's button styles.
