// _dropdown.scss
// 
// Template's dropdown styles.
// 

.dropdown-menu-item > .anticon:first-child, .dropdown-menu-submenu-title > .anticon:first-child, .dropdown-menu-item > span > .anticon:first-child, .dropdown-menu-submenu-title > span > .anticon:first-child {
    vertical-align: -1px;
}

.dropdown-menu-item, .dropdown-menu-submenu-title {
    padding: 6px 15px;
    color: $color-gray-8;
}

.dropdown-menu-item-disabled, .dropdown-menu-submenu-title-disabled {
    color: rgba(0, 0, 0, 0.25);
}

.dropdown-menu-item:hover, .dropdown-menu-submenu-title:hover {
    background-color: $color-gray-3;
}

.btn.dropdown-trigger svg {
	margin-right: 0;
}

.menu-submenu-popup {
    border-radius: 8px;

	&.menu-submenu > .menu {
		border-radius: 8px;

		> .menu-item.menu-item-active:last-child {
			border-radius: 0px 0px 8px 8px;
		}
	}
}

.layout-dashboard-rtl {
	.dropdown-menu {
		text-align: right;
	}
}

// / Template's dropdown styles.
