// _timeline.scss
// 
// Template's timeline styles.
// 

.timeline-item-content {
    margin: 0 0 0 33px;
	font-size: 14px;
    top: -4px;
	font-weight: $fw-semibold;
	color: $color-gray-12;
	small {
		display: block;
		font-size: 12px;
		font-weight: $fw-bold;
		color: $color-gray-7;
		margin: 0;
	}
	p {
		color: $color-gray-7;
		font-weight: $fw-regular;
		margin-top: 10px;
	}
	.tag-warning {
		color: #70620a;
	}
}

.timeline-item-pending .timeline-item-content {
	font-size: 14px;
	font-weight: $fw-semibold;
	color: $color-gray-12;
}

.timeline-item-pending .timeline-item-head {
	border-color: $color-gray-4;
}

.timeline-item-head {
    width: 15px;
    height: 15px;
    border-width: 3px;
}

.timeline-item-tail {
    left: 7px;
}

@each $name, $value in $colors {
	.timeline-item-head-#{$name} {
		color: $value;
		border-color: $value;
	}
}

.tag-white {
	color: $color-gray-12;
}

.timeline-item-last > .timeline-item-tail {
	display: block;
}

.timeline-item-last {
	padding-bottom: 10px;
}

.timeline-dark {
	.timeline-item-head {
		background-color: $color-gray-10;
	}
	.timeline-item-content {
		color: $color-gray-1;
		small,
		p {
			color: $color-gray-5;
		}
	}
}

.layout-dashboard-rtl {
	.timeline-item-tail {
		right: 6.5px;
		left: auto;
	}
	.timeline-item-content {
		margin: 0 33px 0 0;
	}
}

// / Template's timeline styles.
